<div class="likes-section">
  <div>
    likes: <%= post.likes.count %>
  </div>
  <span class="me-2">
    <% if like.present? %>
      <%= button_to post_like_path(post, like), method: :delete, class: 'btn' do %>
        <i class="fas fa-thumbs-up text-primary"></i>
      <% end %>
    <% else %>
    <%= button_to post_likes_path(post), method: :post, class: 'btn' do %>
        <i class="fas fa-thumbs-up text-secondary"></i>
      <% end %>
    <% end %>
  </span>
</div>
